        *::before,
        *::after {
                box-sizing: border-box;
        }


        body {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                color: #434455;
                background-color: #FFFFFF;
        }

        ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
        
        }

        a {
                text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6, p {
                margin: 0;
        }

        img {
                display: block;
        }

        .container {
                width: 1158px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: auto;
                margin-right: auto;
                
        }
        /* =======================================================================header */

        .header {
                border-bottom: 1px solid #e7e9fc;
                box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        
        }

        .header-wrapper {
                display: flex;
                align-items: center;
                padding: 0 15px;
        }

        .header-nav {
                display: flex;
                align-items: center;
        }

        .header-nav-logo {
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #4d5ae5;
        }

        .logo {
                margin-right: 76px;
                padding: 24px 0;
        }

        .header-nav-span {
                color: #2e2f42;
        }

        .header-nav-list {
                display: flex;
                align-items: center;
                gap: 40px;
                margin-right: auto;
        }

        .header-nav-link.current {
                position: relative;
        }

        .header-nav-link.current::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: #404bbf;
        }

        .header-nav-link {
                font-weight: 500;
                letter-spacing: 0.02em;
                color: #2e2f42;
                display: block;
                padding: 24px 0;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .header-nav-link:hover,
        .header-nav-link:focus {
                color: #404bbf;
        }

        .header-address {
                font-style: normal;
                margin-left: auto;
        }

        .header-address-list {
                display: flex;
                align-items: center;
                gap: 40px;
        }

        .header-address-link {
                letter-spacing: 0.02em;
                color: #434455;
                display: block;
                padding: 24px 0;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .header-address-link:hover,
        .header-address-link:focus,
        .header-nav-link.current {
                color: #404bbf;
        }

/* ===========================================================================Solutions */

        .section-solution {
                display: block;
                background-image: linear-gradient(to bottom,rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                padding: 188px 0;
                margin-left: auto;
                margin-right: auto;
                max-width: 1440px;
        }

        h1 {
                margin-right: auto;
                margin-left: auto;
        }
        .solution-title {
                font-size: 56px;
                font-weight: 700;
                line-height: 1.07;
                letter-spacing: 0.02em;
                text-align: center;
                color: #fff;
                display: flex;
                max-width: 496px;
                margin-bottom: 46px;
        }
        .solution-button {
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: #fff;
                background-color: #4d5ae5;
                cursor: pointer;
                display: block;
                min-width: 169px;
                height: 56px;
                border: none;
                border-radius: 4px;
                margin-left: auto;
                margin-right: auto;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .solution-button:hover,
        .solution-button:focus {
                background-color: #404BBF;     
       }
              


        /* =========================================section descr */



        .section-descr {
                padding: 120px 0;
        }

        .visually-hidden {
                text-align: center;
                line-height: 1.2;
                letter-spacing: 0.02em;
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                border: 0;
                padding: 0;
                white-space: nowrap;
                clip-path: inset(100%);
                clip: rect(0 0 0 0);
                overflow: hidden;
        }

        .descr-list {
                text-align: left;
                display: flex;
                gap: 24px;
        }

        .descr-list-box {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 112px;
                background-color: #f4f4fd;
                border-radius: 4px;
                border: 1px solid #8e8f99;
                margin-bottom: 8px;
        }

        .descr-list-item {
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                width: calc((100% - 72px)/4);
        }
        .descr-list-title {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
                margin-bottom: 8px;
        }

        .descr-list-text {
                letter-spacing: 0.02em;
                color: #434455;
        }
        
        /* ===================================================================our team */


        .section-team {
                background-color: #f4f4fd;
                padding: 120px 0;
        }

        .team-title {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
                text-transform: capitalize;
                margin-bottom: 72px;
        }

        .team-list {
                display: flex;
                gap: 24px;
        }

        .team-container {
                padding: 32px 0;
                
        }
        .team-list-item {
                position: relative;
                background-color: #ffffff;
                border-radius: 0 0 4px 4px;
                box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
                width: calc((100% - 72px) / 4);
                
        }

        .team-list-title {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
                margin-bottom: 8px;
        }

        .team-list-text {
                letter-spacing: 0.02em;
                text-align: center;
                color: #434455;
                margin-bottom: 8px;
        }

        .team-list-icon {
                display: flex;
                justify-content: center;
                gap: 24px;
        }

        .team-item-icon {
                width: 40px;
                height: 40px; 
        }

        .team-link-icon {
                background-color: #4d5ae5;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .team-link-icon:hover,
        .team-link-icon:focus {
                background-color: #404bbf;
        }

        .team-icon {
                fill: #f4f4fd;
        }

        /* ==================================================================================portfolio */

        .portfolio {
                padding: 120px 0;
        }

        .portfolio-title {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
                text-transform: capitalize;
                margin-bottom: 72px;
            }

        .portfolio-list {
                display: flex;
                flex-wrap: wrap;
                column-gap: 24px;
                row-gap: 48px;
                margin: auto;
        }    

        .portfolio-item {
                width: calc((100% - 48px)/3);
                transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .portfolio-container {
                padding: 32px 16px;
                border: 1px solid #e7e9fc;
                border-top: none;
        }

        .portfolio-card {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
                margin-bottom: 8px;
        }

        .portfolio-text {
                letter-spacing: 0.02em;
                color: #434455;
        }      

        .portfolio-card-overlay {
                position: relative;
                overflow: hidden;
        }
        
        .portfolio-card-text {
                position: absolute;
                background-color: #4d5ae5;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #f4f4fd;
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                transform: translateY(100%);
                top: 0;
                width: 100%;
                height: 100%;
                padding: 40px 32px;
                margin: 0;
        }

        .portfolio-item:hover .portfolio-card-text {
                transform: translateY(0);
        }

        .portfolio-item:hover {
                box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
                background: #fff;
}

 /* ======================================================================================footer */

    
    .footer {
                background-color: #2e2f42;
                padding: 100px 0;
    }
    
     .footer-container {
                display: flex;
                align-items: baseline;
                gap: 120px;
        }

     .footer-wrap {
                display: flex;
                align-items: baseline;
     }

     .footer-left {
                padding-left: 120px;
                margin-right: 120px;
     }

    .footer-logo {
                display: inline-block;
                margin-bottom: 16px;
    }

    .footer-nav-span {
                color: #f4f4fd;
    }

    .footer-left-text {
                letter-spacing: 0.02em;
                color: #f4f4fd;
                width: 264px; 
    }

    .footer-right-text {
                font-weight: 500;
                color: #FFFFFF;
                margin-bottom: 16px;
                letter-spacing: 0.02em;
    }

    .footer-right-list {
                display: flex;
                gap: 16px;
    }

    .footer-right-item {
                width: 40px;
                height: 40px;
    }

    .footer-right-link {
                background-color: #4d5ae5;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

     .footer-icon {
                fill: #f4f4fd;
     }

    .footer-right-link:hover,
    .footer-right-link:focus {
                background-color: #31d0aa;
    }